{% extends "base.html" %}

{% block content %}
<h1>Perfil do usuário</h1>

<form class="col-md-8 mx-auto" method='POST' action="" novalidate>
    {{ form.hidden_tag() }}
    <div class="form-group mb-3">
        <label for="username">Username</label>
        <input class="form-control" type="text" id="username" name="username" value="{{ current_user.username }}" disabled></input>
    </div>
    <div class="form-group mb-3">
    {{ form.fullname.label }}
    {{ form.fullname(class="form-control") }}
    {% for error in form.fullname.errors %}
        <span style="color: red">[{{ error }}]</span>
    {% endfor %}
    </div>
    <p>
        {{ form.submit(class="btn-lg btn-dark") }}
    </p>
</form>
{% endblock %}