<h1>Quiz do Ferneda</h1>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<p>
<a href="{{ url_for('index') }}">Home</a> - 
{% if not session.jogando %}
<a href="{{ url_for('add') }}">Adicionar</a> - 
<a href="{{ url_for('iniciar') }}">Iniciar</a> - 
<a href="{{ url_for('consulta') }}">Consulta</a>
{% endif %}
</p>
<h1>{{ title }}</h1>

{% block content %}{% endblock content %}
{% block footer %}
{% endblock %}