{% from 'bootstrap/nav.html' import render_nav_item %}
{% from 'bootstrap/utils.html' import render_messages %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Quiz em Flask{% if title %} - {{ title }}{% endif %}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {{ bootstrap.load_css() }}
    <style>
        pre {
            background: #ddd;
            padding: 10px;
        }
        h2 {
            margin-top: 20px;
        }
        footer {
            margin: 20px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if session.jogando %}
                {{ render_nav_item('fim', 'Fim', use_li=True) }}
                {% endif %}
                {% if not session.jogando %}
                {{ render_nav_item('index', 'Home', use_li=True) }}
                {{ render_nav_item('iniciar', 'Iniciar', use_li=True) }}
                {% if current_user.is_authenticated %}
                {{ render_nav_item('add', 'Adicionar', use_li=True) }}
                {{ render_nav_item('consulta', 'Consultar', use_li=True) }}
                {{ render_nav_item('logout', 'Logout', use_li=True) }}
                {% else %}
                {{ render_nav_item('login', 'Login', use_li=True) }}
                {% endif %}
                {% endif %}
            </ul>
        </div>
    </nav>
    
    <main class="container">
        {{ render_messages(container=False, dismissible=True) }}
        {% block content %}{% endblock %}
    </main>

    <footer class="text-center">
        {% block footer %}
            <small> &copy; 2021–<script>document.write(new Date().getFullYear())</script> <a href="http://ferneda.com.br" title="Written by Anderson Ferneda">Anderson Ferneda</a>
            </small>
        {% endblock %}
    </footer>

    {{ bootstrap.load_js() }}
</body>
</html>
