{% from 'bootstrap/nav.html' import render_nav_item %}
{% from 'bootstrap/utils.html' import render_messages %}
<!DOCTYPE html>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CDXN9T37DQ"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-CDXN9T37DQ');
</script>

<html lang="pt-br">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Quiz em Flask{% if title %} - {{ title }}{% endif %}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="{{  url_for('static', filename='quiz.css') }}">
    {% endblock %}
</head>
<body>
    <nav class="container navbar navbar-expand-lg bg-black mb-4">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if session.jogando %}
                {{ render_nav_item('fim', 'Fim', use_li=True) }}
                {% endif %}
                {% if not session.jogando %}
                {{ render_nav_item('index', 'Home', use_li=True) }}
                {{ render_nav_item('iniciar', 'Iniciar', use_li=True) }}
                {{ render_nav_item('score', 'Placar', use_li=True) }}
                {% if current_user.is_authenticated %}
                {{ render_nav_item('add', 'Adicionar', use_li=True) }}
                {{ render_nav_item('consulta', 'Consultar', use_li=True) }}
                {{ render_nav_item('logout', 'Logout', use_li=True) }}
                {% else %}
                {{ render_nav_item('login', 'Login', use_li=True) }}
                {% endif %}
                {% endif %}
            </ul>
        </div>
    </nav>
    
    <main class="container">
        {{ render_messages(container=False, dismissible=True) }}
        <h1>Quiz em Flask{% if title %} - {{ title }}{% endif %}</h1>
        <br>
        {% block content %}{% endblock %}
    </main>

    <footer class="text-center">
        {% block footer %}
            <small> &copy; 2021–<script>document.write(new Date().getFullYear())</script> - <a href="http://ferneda.com.br" title="Written by Anderson Ferneda">Anderson Ferneda</a>
            </small>
        {% endblock %}
    </footer>

    {{ bootstrap.load_js() }}
</body>
</html>
