{% extends "base.html" %}

{% block content %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.pergunta.label }}
        {{ form.pergunta(size=40) }}<br>
        {% for error in form.pergunta.errors %}
        <span style="color:red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.resposta1.label }}
        {{ form.resposta1(size=40) }}<br>
        {% for error in form.resposta1.errors %}
        <span style="color:red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.resposta2.label }}
        {{ form.resposta2(size=40) }}<br>
        {% for error in form.resposta2.errors %}
        <span style="color:red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.resposta3.label }}
        {{ form.resposta3(size=40) }}<br>
        {% for error in form.resposta3.errors %}
        <span style="color:red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.resposta4.label }}
        {{ form.resposta4(size=40) }}<br>
        {% for error in form.resposta4.errors %}
        <span style="color:red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.correta.label }}
        {{ form.correta }}<br>
        {% for error in form.correta.errors %}
        <span style="color:red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.dificuldade.label }}
        {{ form.dificuldade }}<br>
        {% for error in form.dificuldade.errors %}
        <span style="color:red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.classe.label }}
        {{ form.classe }}<br>
        {% for error in form.classe.errors %}
        <span style="color:red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}