{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_field %}

{% block content %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    {{ render_field(field=form.pergunta_id, form_type='horizontal', horizontal_columns=('sm', 1, 100)) }}
    {% if form.pergunta_id.data %}
    <p>pergunta: {{ pergunta.pergunta }}</p>
    {% for resposta in respostas %}
    <p>resposta: {{ resposta.resposta }} - {{ resposta.correta }} - <a class="btn btn-primary btn-sm" href="{{ url_for('editar', tipo='resposta', id=resposta.id ) }}">editar</a></p>
    {% endfor %}
    <p>Dificuldade: {{ pergunta.dificuldade }}</p>
    <p>Classe: {{ pergunta.classe }}</p>
    <a class="btn btn-primary btn-lg" href="{{ url_for('editar', tipo='pergunta', id=pergunta.id ) }}">Editar pergunta</a>
    
    {% endif %}
    {{ render_field(form.submit, button_size='lg') }}
</form>
{% endblock %}