{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_field %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <p>Valendo: {{ 1000 * session.multiplicador }} pontos</p>
        </div>
        <div class="col-sm">
            <p>ID da pergunta: {{ pergunta.id }}</p>
        </div>
        <div class="col-sm">
            <p>Nível: {% if session.nivel == 'D' %}1
                      {% elif session.nivel == 'C' %}2
                      {% elif session.nivel == 'B' %}3
                      {% elif session.nivel == 'B' %}4
                      {% endif %}</p>
        </div>
        <div class="col-sm">
            <p>Pontuação: {{ session.get('pontos') }} pontos</p>
        </div>
    </div>
</div>
<div class="container">
<p><h4>Pergunta: {{ pergunta.pergunta }}</p>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.resposta(style="list-style:none") }}
        {{ render_field(form.submit, button_size='lg') }}
        {% if session.pulos > 0 %}
            <a href="{{ url_for('main.pular') }}" class="btn btn-primary btn-lg">Pular</a>
        {% endif %}
    </form></h4>
</div>
{% endblock %}