{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_field %}

{% block content %}
<p><h4>Pergunta: {{ pergunta.pergunta }}</p>
<form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.resposta(style="list-style:none") }}
    {{ render_field(form.submit, button_size='lg') }}
    {% if session.pulos > 0 %}
    <a href="{{ url_for('pular') }}" class="btn btn-primary btn-lg">Pular</a>
    {% endif %}
</form></h4>
<br>
<p>Valendo: {{ 1000 * session.multiplicador }} pontos.</p>
<p>Pontuação: {{ session.get('pontos') }} pontos.</p>
<p>ID da pergunta: {{ pergunta.id }}</p>
{% endblock %}